<div style="height: 400px;" class="container mb-5 bg-success text-light p-5">
    <div class="row">
        <div class="col-lg-4">
            <h3> <i class="fa-solid fa-graduation-cap"></i> Cookpedia</h3>
            <p style="text-align: justify;">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
            <h3>Sign up for our newsletter</h3>
            <div class="d-flex my-5">
                <input type="text" name="" id="" placeholder="Email " class="form-control">
                <button style="background-color: green;" class="btn text-light ms-2"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h5>Menu</h5>
                    <a routerLink="" class="nav-link text-light active">Home</a>
                    <a routerLink="recipes" class="nav-link text-light active">Recipes</a>
                    <a routerLink="about" class="nav-link text-light active">About</a>
                    <a routerLink="contact" class="nav-link text-light active">Contact</a>
                    <a routerLink="Login" class="nav-link text-light active">Login</a>
                    <a routerLink="Register" class="nav-link text-light active">Register</a>


                </div>
                <div class="col-lg-4">
                    <h5>Help</h5>
                    <a routerLink="" class="nav-link text-light active">Privacy & Policy</a>
                    <a routerLink="recipes" class="nav-link text-light active">Terms of Use</a>
                </div>
                <div class="col-lg-4">
                    <h5>Social</h5>
                    <a routerLink="" class="nav-link text-light active">Facebook</a>
                    <a routerLink="" class="nav-link text-light active">Instagram</a>
                    <a routerLink="" class="nav-link text-light active">Twitter</a>
                    <a routerLink="" class="nav-link text-light active">Yotube</a>
                </div>
            </div>
        </div>
    </div>
</div>