<div class="container d-flex justify-content-center align-items-center flex-column" style="height: 100vh">
   <h1>Login</h1>
   <p>More than 100+ recipes</p>
    <div class="shadow rounded rounded-edge p-5 mt-4">
        <div class="mb-5 text-center">
            <h3> <i class="fa-solid fa-graduation-cap"></i> Cookpedia</h3>
        </div>
        <div class="mb-5">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-5">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="d-grid ">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>

  
</div>