<app-header></app-header>
<div class="container">
    <div style="height: 300px;" class="bg-success row d-flex justify-content-center align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="text-center text-light">
                <h2>Contact us</h2>
        <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatum deserunt quo mollitia quis commodi, laborum deleniti eum sed perspiciatis sint itaque obcaecati culpa ipsa ea voluptate? Repellendus, provident qui!</p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div style="height: 650px" class="row my-5 align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h3>Get in Touch</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ab aspernatur, dolore assumenda odit nulla at. Aliquid, excepturi! Culpa dolor asperiores aspernatur molestiae tempore est vel repellendus corporis hic. Saepe.
            </p>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-solid fa-location"></i></div>
                <div>
                    <h5>Kakkanad</h5>
                    <p>Cochin,Kerala</p>
                </div>
            </div>
            <!--Contact-->
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-solid fa-phone"></i></div>
                <div>
                    <h5>Number</h5>
                    <p>123123123</p>
                </div>
            </div>
            <!--email-->
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-solid fa-envelope"></i></div>
                <div>
                    <h5>Email</h5>
                    <p>{{demoMail}}</p>
                </div>
            </div>

            <hr>

            <h3 class="mt-3">Follow Us</h3>
            <div class="d-flex mt-3">
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-brands fa-facebook"></i></div>
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-brands fa-github"></i></div>
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-brands fa-linkedin"></i></div>
                <div style="width: 40px; height: 40px;" class="bg-success rounded-circle d-flex justify-content-center align-items-center text-light me-3" ><i class="fa-brands fa-whatsapp"></i></div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">

            <div class="border shadow p-5">
                <h3>Client Testimony</h3>
                <div class="mb-3 mt-5">
                    <input type="text" name="" id="" placeholder="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" name="" id="" placeholder="Email" class="form-control">
                </div>
                
                <div class="mb-3">
                    <textarea name="" id="" placeholder="Messages" class="form-control"></textarea>
                </div>
               
                <p class="mt-4">By submitting, you agree to the terms and condition of our website. We may use our details on our site.</p>
                <button class="btn btn-success float-end">Submit</button>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

    <iframe class="my-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7858.207744097036!2d76.3584673406888!3d10.00827831039005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080b62a7688a1d%3A0xea20f6a86d090450!2sInfopark%20Campus%2C%20Kochi%2C%20Kakkanad%2C%20Kerala%20682030!5e0!3m2!1sen!2sin!4v1731405618884!5m2!1sen!2sin" width="1300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    
</div>
