<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="container">
                <h4>Filter</h4>
                <button class="btn mt-5" (click)="getAllRecipes()">All</button> <br>
                <button class="btn dropdown-toggle " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Cuisine Type 
                  </button> <br>
                  <div class="collapse" id="collapseExample">
                    <button class="btn" (click)="filterRecipes('cuisine','Italian')">Italian</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Asian')">Asian</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','American')">American</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','Mexican')">Mexican</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','Thai')">Thai</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Indian')">Indian</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','Turkish')">Turkish</button>
                    <button class="btn" (click)="filterRecipes('cuisine','Pakistani')">Pakistani</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','Smoothie')">Smoothie</button> 
                    <button class="btn" (click)="filterRecipes('cuisine','Japanese')">Japanese</button> 
                  </div>

                  <button class="btn dropdown-toggle " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleMeal" aria-expanded="false" aria-controls="collapseExampleMeal">
                    Meal Type 
                  </button>
                  <div class="collapse" id="collapseExampleMeal">
                    <button class="btn" (click)="filterRecipes('mealType','Dinner')">Dinner</button>
                    <button class="btn" (click)="filterRecipes('mealType','Lunch')">Lunch</button>
                    <button class="btn" (click)="filterRecipes('mealType','Snack')">Snack</button>
                    <button class="btn" (click)="filterRecipes('mealType','Dessert')">Dessert</button>
                    <button class="btn" (click)="filterRecipes('mealType','Appetizer')">Appetizer</button> 
                    <button class="btn" (click)="filterRecipes('mealType','Breakfast')">Breakfast</button> 
                    <button class="btn" (click)="filterRecipes('mealType','Beverage')">Beverage</button>
                    <button class="btn" (click)="filterRecipes('mealType','Salad')">Salad</button> 
                 
                  </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All Recipes</h1>
                <input [(ngModel)]="searchKey" type="text" class="form-control w-50" placeholder="Search your recipes here">
            </div>

            <!--Recipes displayed-->
            <div class="row my-3">
              @if (allRecipes.length>0) {
                @for (item of allRecipes | search:searchKey | paginate: { itemsPerPage: 9, currentPage: p } ; track $index) {
                    <div class="col-lg-4">
                        <div class="p-3">
                            <img [src]="item.image" class="card-img-top rounded" alt="...">
                            <div class="card-body mt-2">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p>Cuisine: {{item.cuisine}}</p>
                            </div>
                        </div>
                    </div>
                }
                @if((allRecipes | search:searchKey).length==0){
                  <h2>Searched recipe not found! Dig again!!</h2>
                }
              }

              @else {
                <h2>No recipes! Come back later!</h2>
              }
              
            </div>

            <!--Pagination-->
            <div class="text-center my-5">
              <pagination-controls (pageChange)="p=$event"></pagination-controls>

            </div>
        </div>
    </div>
</div>

